<div ng-controller="foodController">
    <h1>Menu</h1>
    <!-- List: {{list}} -->
    <div id="search">Search: <input type="text" ng-model="mySearch"></div>
    <table border="1">
        <tr>
            <th ng-click="sortOrder('ID')">ID</th>
            <th ng-click="sortOrder('Name')">Name</th>
            <th ng-click="sortOrder('Price')">Price</th>
            <th>Option</th>
        </tr>
        <tr ng-repeat="f in list|filter:mySearch|orderBy:myOrder:reverse">
            <td>{{f.ID}}</td>
            <td>{{f.Name}}</td>
            <td>{{f.Price}}</td>
            <td>
                <button ng-click="rmFood(f)">Remove</button>
            </td>
        </tr>
    </table>
</div>
